*{margin: 0;padding: 0;}
li {
	list-style-type: none;
}
a {
	text-decoration: none;
}
body{
	color: #868687;
}
p{
	color: #ffffff;
} 
/*广告大图*/
.banner{
	width: 100%;
	height: 280px;
}
.banner img{
	width: 100%;
	height: 366.22px;
}
.nav_select{
	width: 980px;
	height: 80px;
	margin: 124px auto 30px;
}
.nav_select ul{
	margin-left: 38px;
}
.nav_select ul li{
	width: 60px;
	height: 80px;
	margin-left: 48px;
	float: left;
}
.nav_select ul li img{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    float: left;
}
.nav_select ul li span{
	width: 60px;
	height: 20px;
	line-height: 20px;
	text-align: center;
}
.le{
	text-align: right;
}
/*底部*/
.menuintr{
	width: 820px;
	height: 20px;
	margin: 0 auto;
	font-weight: bold;
	font-size: 20px;
}
.menumain{
	width: 828px;
	height: 207px;
	margin: 20px auto;
}
.menumain ul li{
	width: 268px;
	height: 207px;
	float: left;
	margin-left: 8px;
}
.menumask{
	width: 268px;
	height: 207px;
	background-color: #000000;
	background-color: rgba(0,0,0,0.5);    
	color: #ffffff;
	position: absolute;
	display: none;
}
.menumask ul li{
	width: 100px;
	height: 20px;
	line-height: 20px;
	text-align: left;
	float: left;
	color: #ffffff;
}
.all_foodshow{
	width: 890px;
	height: 680px;
	margin: 20px auto;
}
.all_foodshow ul{
	margin-left: 9px;
}
.all_foodshow ul li{
	width: 189px;
	height: 190px;
	float: left;
	margin-left: 23px;
	margin-top:30px;
}
.all_foodshow img{
	width: 189px;
	height: 190px;
	-webkit-transform: scale(1.0);
	transform: scale(1.0);
}
.all_foodshow ul li img:hover{
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
    -webkit-transition: 1s;
    transition: 1s;
}

.footer {
	background: #323232;
	padding: 30px;
	margin-top: 50px;
    position: relative;
}
.footer-content {
    position: relative;
    margin-left: 248px;
}
.erweima {
    position: absolute;
    top: 50px;
    left: 25%;
}
.footer p {
	padding-top: 10px;
	color: #9d9a99;
    margin-left: 33%;
}
.footer p a {
	color: #9d9a99;
}
.footer p a:hover {
	color: #fefefe;
}