* {
	margin: 0;
	padding: 0;
}
ul,li {
	list-style-type: none;
}
a {
	text-decoration: none;
}
.banner {
	width: 100%;
	height: 366.22px;
	margin-top: 50px;
	margin-bottom: 12px;
}
.title{
	font-family: "微软雅黑";
	font-size: 15px;
	line-height: 30px;
	margin-top: 52px;
}
.node{
	display: block;
	padding-left: 40px;
	font-family: "微软雅黑";
	font-size: 13px;
	line-height: 30px;

}
/*图片展示*/
#picture{
	height: 300px;
	width: 900px;
	margin-top: 40px;
}
/*三栏布局，左右固定，中间自适应*/
.left{
	float: left;
	width: 225px;
	margin-top: 30px; 
}
.right{
	float: right;
	width: 225px;
	margin-top: 30px; 
}
.main{
	margin-left: 328px;
	margin-top: 30px; 
}
#picture img{
	-webkit-transform: scale(1.0);
	width: 247px;
	height: 234px;
}
#picture img:hover{
	-webkit-transform: scale(1.2);
	-webkit-transition: 0.5s;
}
/*文字介绍*/
.hot_text {
	margin-left: 17%;
	margin-bottom: 70px;
}
#message{
	width: 500px;
	float: left;
	/*margin-left: 26.5%;*/
	font-family: "微软雅黑";
	font-size: 13px;
	line-height: 20px;
}
.content{
	text-indent: 2rem;
}
.content ul{
	padding-top: 10px;
}
